<h1>Chatt app</h1>

<script>
    const url = window.location.origin;
    const client = new WebSocket(url);

    client.addEventListener("open", () => {
        console.log("web socket working")
    });
    client.addEventListener("open", () => {
        console.log("web socket working")
    });
</script>