    <nav class="navbar navbar-light">
        <img alt="Chirper" src="/assets/images/Chirper.png" class="custom-img">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script> 
        <div>
            <button type="button" id="go-previous" class="btn btn-outline-success">Go Back</button>
            <button type="button" id="logout" class="btn btn-outline-dark">Log Out</button>

        </div>
    </nav>
    <div id="messageDetails" class="container custom-container-bg mb-5">
        <div class="row justify-content-center">
            <header id="chat-name-heading" class="name-bg mx-auto text-center"></header>
            <div class="col-sm-11 col-custom">
                {{#each allMessages}}
                    <p class='owner-message'>{{message_content}}</p>
                    <p class='owner-timestap'>{{format_time created_at}}</p>
                    {{!-- {{created_at}} --}}
                {{/each}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8 mb-5 custom-field">
                <form class="chat-form">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-input" placeholder="... type you message here" aria-label="... type you message here" aria-describedby="send" >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="send">Send</button>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
    <script src="/js/messages.js"></script>
    <script src="/js/logout.js"></script>
   <script src="/js/existingChatRooms.js"></script>




