        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <img src="/assets/images/Chirper.png" class="img-fluid" alt="Responsive image">

                    <div class="card w-75 mx-auto custom-card-bg text-center" style="width: 18rem; height: auto;">
                        <div class="card-body">
                            <br><br>
                            <br><br>
                            <h3 class="card-subtitle mb-2">Sign Up or Sign In</h3>
                            <br><br>
                            <br><br>
                            <a href="/signup" class="btn custom-btn font-weight-bold px-md-5">Sign Up</a>
                            <a href="/signin" class="btn custom-btn font-weight-bold px-md-5">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>