        <nav class="navbar navbar-light">
            <img alt="Chirper" src="/assets/images/Chirper.png" class="custom-img">

        </nav>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="card w-75 mx-auto custom-card-bg text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-subtitle mb-2">Sign Up</h3>
                            <form id="signupFormInput">
                                <div class="form-group">
                                    <label for="InputUsername">Username</label>
                                    <input type="username" class="form-control" id="InputUsername-signup">
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Email</label>
                                    <input type="email" class="form-control" id="InputEmail-signup">
                                </div>
                                <div class="form-group">
                                    <label for="InputPassword">Password</label>
                                    <input type="password" class="form-control" id="InputPassword-signup">
                                </div>
                                <button type="submit" id="cancel" class="btn custom-btn font-weight-bold px-md-5">Cancel</button>
                                <button type="submit" id="signup" class="btn custom-btn font-weight-bold px-md-5">Sign Up</button>
                                <div id="attach">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="/js/signup.js"></script>