{{#if logged_in}} 
    <nav class="navbar navbar-light">   
        <img alt="Chirper" src="./assets/images/Chirper.png" class="custom-img"> 
        <div>
            <button type="submit" id="logout" class="btn btn-outline-dark">Log Out</button>
        </div>
            
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="welcome">
                    <h2 id="welcome">Welcome {{{user}}}</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-8 mb-5 custom-field2">
                            <form class="chat-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="message-input" placeholder="... type you message here" aria-label="... type you message here" aria-describedby="send" >
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="createRoom">Create Room</button>
                                    </div>
                                </div>
                            </form>      
                        </div>
                    </div>
                </div>

                {{#each user  as |Administrator|}}
                    {{> chats}}
                {{/each}}

            </div>
        </div>
    </div>
    
    <script>"./js/logout.js"</script>
{{else}}                   
        <nav class="navbar navbar-light">   
            <img alt="Chirper" src="./assets/images/Chirper.png" class="custom-img">
        </nav>
        <div class="card w-75 mx-auto custom-card-bg text-center" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-subtitle mb-2">~ You are not Signed in ~</h3>
                <br><br>
                <br><br>
                <button type="submit" id="signup-initial" class="btn custom-btn font-weight-bold px-md-5">Sign Up</button>
                <button type="submit" id="signin-initial" class="btn custom-btn font-weight-bold px-md-5">Sign In</button>
            </div>
        </div>
{{/if }} 
