.custom-btn {
    background-color: rgba(11, 105, 53, 0.61);
}

.custom-hp-bg {
    background-color: rgba(89, 11, 105, 0.055);
}

.custom-img {
    padding: 5px;
    width:300px;
}

.custom-container-bg {
    background-color: rgba(11, 105, 53, 0.055);
    padding: 5px;
    border: 3px;
    border-style: solid;
    border-color: rgba(11, 105, 53, 0.295);
    border-radius: 15px;
    min-height: 77vh;
    min-width: 80vw;
}

.guest-bg {
    background-color: rgba(11, 105, 53, 0.055);
    padding: 3px;
    width: 55%;
    height: 30PX;
    border: 2px;
    border-style: solid;
    border-color: rgba(11, 105, 53, 0.295);
    border-radius: 15px;
}

.guest-message {
    background-color: rgba(11, 105, 53, 0.055);
    padding: 8px;
    width: auto;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: rgba(11, 105, 53, 0.295);
    border-radius: 15px;
    display: block;
    float: left;
    clear: both;
}

.owner-message {
    background-color: rgba(89, 11, 105, 0.055);
    padding: 8px;
    width: auto;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: rgba(89, 11, 105, 0.295);
    border-radius: 15px;
    display: block;
    float: right;
    clear: both;
}

.chats {
    background-color: rgba(89, 11, 105, 0.055);
    padding: 10px;
    width: auto;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: rgba(11, 105, 53, 0.295);
    border-radius: 15px;
    display: block;
    clear: both;
}

.gmail-custom {
    padding: 5px;
    width: 50px;
}

.github-custom {
    padding: 5px;
    width: 40px;
}