/* Roots */
:root {
    --bg1: rgb(237, 228, 238);
    --bd1: rgb(215, 204, 216);
    --bg2: rgb(206, 233, 218);
    --bd2: rgb(102, 165, 129);
}

/* Background Styling */
.custom-hp-bg {
    background-color: var(--bg1);
    position: static;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.custom-ft-bg {
    background-color: var(--bd1);
    height: 40px;
}

.custom-container-bg {
    background-color: var(--bg2);
    padding: 5px;
    border: 3px;
    max-height: 77vh;
    max-width: 90vw;
    border-style: solid;
    border-color: var(--bd2);
    border-radius: 15px;
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.name-bg {
    background-color: var(--bg2);
    padding: 3px;
    width: 30%;
    height: 30PX;
    border: 2px;
    border-style: solid;
    border-color: var(--bd2);
    border-radius: 15px;
    position: fixed;
    overflow: hidden;
    justify-self: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* Header Styling */
.welcome {
    margin-bottom: 5%;
}

/* Image Styling */
.custom-img {
    padding: 5px;
    width: 300px;
}

.gmail-custom {
    padding: 5px;
    width: 50px;
}

.github-custom {
    padding: 5px;
    width: 40px;
}

/* Message Styling */
.guest-message {
    background-color: var(--bg2);
    padding: 8px;
    width: auto;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: var(--bd2);
    border-radius: 15px;
    display: block;
    float: left;
    clear: both;
}

.owner-message {
    background-color: var(--bg1);
    padding: 5px;
    width: auto;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: var(--bd1);
    border-radius: 15px;
    display: block;
    float: right;
    clear: both;
}

/* Timestamp Styling */
.guest-timestap {
    padding: 1px;
    display: block;
    float: left;
    clear: both;
    font-style: italic;
    color: rgb(112, 112, 112);
    line-height: 2px;
    font-size: smaller;
}

.owner-timestap {
    padding: 1px;
    display: block;
    float: right;
    clear: both;
    font-style: italic;
    color: rgb(112, 112, 112);
    line-height: 2px;
    font-size: smaller;
}

/* Button Styling */
.chats {
    background-color: var(--bg2);
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: rgba(11, 105, 53, 0.295);
    border-radius: 15px;
    line-height: 10px;
}

.custom-btn {
    background-color: rgba(11, 105, 53, 0.61);
}

/* Styling the Input */
.custom-field {
    position: fixed;
    bottom: 0;
    padding: 5px;
}

/* Styling the  */
.col-custom {
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Styling the -user- joined message */
.user-joined {
    padding: 5px;
    display: block;
    text-align: center;
    clear: both;
    font-style: italic;
    color: rgb(112, 112, 112);
    line-height: 2px;
}

/* Styling the scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg2);
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(210, 144, 226);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 5, 136);
    border-radius: 15px;
}

/* Styling height responsiveness */
@media (min-height: 500px) {
    .custom-container-bg {
        max-height: 60vh;
        max-width: 90vw;
    }
}

@media (min-height: 600px) {
    .custom-container-bg {
        max-height: 65vh;
        max-width: 90vw;
    }
}

@media (min-height: 700px) {
    .custom-container-bg {
        max-height: 70vh;
        max-width: 90vw;
    }
}

@media (min-height: 800px) {
    .custom-container-bg {
        max-height: 75vh;
        max-width: 90vw;
    }
}

@media (min-height: 900px) {
    .custom-container-bg {
        max-height: 77vh;
        max-width: 90vw;
    }
}